<div class="container-fluid">
    <h3 id="joueursTitle">Joueurs</h3>
    <table class="table table-sm">
        <thead>
            <tr class="row">
                <th scope="col-sm-1">#</th>
                <th scope="col-sm-8">Joueur</th>
                <th scope="col-sm-1">Score</th>
                <th scope="col-sm-1">Classement</th>
            </tr>
        </thead>
        <tbody id="players">
        </tbody>
    </table>
</div>

<script>
    function updatePlayers(players) {
        var newPlayersContent = ""
        players.forEach(player => {
            newPlayersContent += `<tr class="row">
                    <td>${player.activeGames[0].roundOrder}</td>
                    <td><i class="${player.avatar} fa-2x" style="margin-right:15px"></i>${player.pseudo}</td>
                    <td>${player.activeGames[0].score}</td>
                    <td>Classement</td>
                </tr>`
        });
        $("#players").html(newPlayersContent);
    }

    var gameId = $("#gameId").val();
    var socket = io(`/${gameId}`);
    socket.on("newPlayer", updatePlayers);
</script>