Bienvenue sur X1 Games ! Ce site vous permet de jouer à plusieurs à différents jeux de votre choix.
<br>
Pour jouer, vous devez au préalable vous enregistrer. Pas besoin de mot de passe pour cela, un pseudo suffira.
<br><hr>
<form action="http://192.168.0.15:3000/user/signin" method="get">
    <button method="get" formaction="http://192.168.0.15:3000/user/signin" type="submit" class="btn btn-primary">Me connecter</button>
</form>